.edit-mode {
	display: flex;
	align-items: center;
	align-self: stretch;
	flex-direction: column;
	gap: 8px;
}
.edit-mode .wrapper .content {
	flex-direction: row;
}
.edit-mode .wrapper .content:has(.message .labels) {
	flex-direction: column;
}
.edit-mode .wrapper {
	align-items: start;
	width: 100%;
}
.edit-mode .wrapper svg:first-of-type {
	height: 15px;
}
